.gpt3__cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    border-radius: 1rem;
    padding: 2rem;
    background: var(--gradient-bar);
}

.gpt3__cta-content p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
}

.gpt3__cta-content h3{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
    /* margin-left: 2rem; */
}

.gpt3__cta-btn{
    display: flex;
    justify-content: center;
}

.gpt3__cta-btn button{
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    background: #000000;
    border-radius: 40px;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    min-width: 170px;
}

@media screen and (max-width:650px) {
    .gpt3__cta{
        flex-direction: column;
    }
}

@media screen and (max-width:550px) {
    .gpt3__cta-content h3{
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-btn button{
        font-size: 14px;
        line-height: 28px;
        padding: 1rem 1rem;
    }

}